<template>
     <h1>Login page:</h1>
     <form @submit.prevent="handleSubmit">
          <label for="email">
               <input type="email" id="email" placeholder="Email" v-model="credentials.email" />
          </label>

          <br />
          <br />

          <label for="password">
               <input type="password" id="password" v-model="credentials.password" placeholder="Password" />
          </label>

          <br />
          <br />

          <button type="submit">SUBMIT</button>

          <br />
          <br />
          <router-link to="/register">register</router-link> | <router-link to="/reset-password">forgot password</router-link>
     </form>
</template>

<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();

const credentials = ref({
     email: '',
     password: '',
});

const handleSubmit = async () => {
     if (credentials.value.email && credentials.value.password) {
          await store.dispatch('login', credentials.value);
     }
};
</script>
