<template>
     <h1>Register page:</h1>

     <form @submit.prevent="handleSubmit" novalidate>
          <label for="firstname">
               <input type="text" id="firstname" placeholder="Firstname" v-model="credentials.firstname" />
          </label>

          <br />
          <br />

          <label for="lastname">
               <input type="text" id="lastname" placeholder="Lastname" v-model="credentials.lastname" />
          </label>

          <br />
          <br />

          <label for="email">
               <input type="email" id="email" placeholder="Email" v-model="credentials.email" />
          </label>

          <br />
          <br />

          <label for="password">
               <input type="password" id="password" v-model="credentials.password" placeholder="Password" />
          </label>

          <br />
          <br />

          <button type="submit">SUBMIT</button>

          <br />
          <br />
          <router-link to="/login">login</router-link>
     </form>
</template>

<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();

const credentials = ref({
     firstname: '',
     lastname: '',
     email: '',
     password: '',
});

const handleSubmit = async () => {
     if (credentials.value.firstname && credentials.value.lastname && credentials.value.email && credentials.value.password) {
          await store.dispatch('register', credentials.value);
     }
};
</script>
