<template>
     <h1>ResetPasswordView page</h1>

     <form @submit.prevent="handleSubmit">
          <label for="email">
               <input type="text" id="email" placeholder="Email" v-model="email" />
          </label>

          <br />
          <br />
          <button type="submit">SUBMIT</button>
     </form>
</template>

<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();

const email = ref('');

const handleSubmit = async () => {
     if (email.value.length) {
          await store.dispatch('resetPassword', { email: email.value });
     }
};
</script>
