<template>
     <h1>UpdatePasswordView page</h1>

     <form @submit.prevent="handleSubmit">
          <label for="password">
               <input type="password" id="password" placeholder="New password" v-model="password" />
          </label>

          <br />
          <br />
          <button type="submit">SUBMIT</button>
     </form>
</template>

<script setup>
import { useRoute } from 'vue-router';
import { ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const route = useRoute();

const password = ref('');

const handleSubmit = async () => {
     if (password.value.length) {
          await store.dispatch('updatePassword', {
               password: password.value,
               token: route.query.token,
          });
     }
};
</script>
