<template>
     <div class="dashboard">
          <h1>Dashboard page</h1>

          <pre>{{ user }}</pre>
     </div>
</template>

<script setup>
import { useStore } from 'vuex';
import { computed } from 'vue';

const store = useStore();

const user = computed(() => store.getters.getUser);
</script>
